{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 13,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": ["react"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "no-console": "warn",
    "react/self-closing-comp": "error",
    "arrow-body-style": "error",
    "prefer-template": "error",
    "react/prop-types": "off"
  }
}
